<div class="jumbotron bg-white text-center ">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wise</h1>
<hr>


<div class="mx-auto">
  <div class="form-group col-lg-5 mx-auto">
    <label for="country">Select Country</label>
    <select name="" id="country" class="form-control"
    [(ngModel)]="selectedCountry"
    (change)="updateValues()">
      <option value="">Select Country</option>
      <option value="{{con}}" *ngFor="let con of countries">{{con}} </option>
    </select>
    </div>
</div>

<app-dashboard-card [totalCoronaCasesInfo]='totalCoronaCasesInfo'> </app-dashboard-card>

<div class="row">


  <div class="col" *ngIf="selectedCountryWiseCoronaDataList.length">

    <app-table [selectedCountryWiseCoronaDataList]="selectedCountryWiseCoronaDataList">
    </app-table>
  </div>

  <div class="col">

    <div *ngIf="chartDataTable.length">

       <app-googlechart [chartType]='chartType'
        [chartDataTable]='chartDataTable' ></app-googlechart>

    </div>

      </div>


</div>
</div>
